<footer id="pie-pagina" class="sticky-bottom text-center p-3 bg-dark">
    <div class="container ">    
            <p class="lead text-center">
              Copyright &copy; Liga chivilcoyana de voley
              <a href="https://www.instagram.com/ligachdevoley/" class="text-white">
                <i class="bi bi-instagram"></i>  
              </a>
            </p>
            <p class="lead text-center">Hecho por Mateo Teggi</p>
          
            <a href="https://www.instagram.com/teggimateo/" class="text-white">
              <i class="bi bi-instagram mx-3"></i>
            </a>
             
            <a href="https://github.com/teggi10" class="text-white">
              <i class="bi bi-github mx-3"></i>
            </a>
            <a href="https://www.linkedin.com/in/mateo-teggi-16a05b194/" class="text-white">
              <i class="bi bi-linkedin mx-3"></i>
            </a>
            
    </div>
  </footer>
