
    <nav class="navbar navbar-expand-lg bg-dark text-uppercase  text-white " >
        <div class="container d-flex">
          <a class="navbar-brand fs-1 text-white" routerLink='/inicio'  > Inicio <img src="assets/img/logo.png" alt="" width="70" height="60" class="rounded-circle"></a>
          <button class="navbar-toggler text-uppercase font-weight-bold  text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="navbarResponsive">
            Menu
            <i class="fas fa-bars"></i>
        </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                  <!-- <li class="nav-item">
                <a class="nav-link "  routerLink='/beach-voley'
                routerLinkActive='active'>Beach Voley</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " routerLink='/liga-interna' routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}">Liga Interna</a>
              </li>-->
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link text-white py-3 px-0 px-lg-3 rounded" routerLink='/equipos' routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}" >Equipos</a>
              </li>
             <!-- <li class="nav-item">
                <a class="nav-link " routerLink='/login' routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}" >
                  <mat-icon>login</mat-icon>
                </a>
              </li>-->

              <li class="nav-item mx-0 mx-lg-1" *ngIf="!isLogged">
                <a class="nav-link text-white py-3 px-0 px-lg-3 rounded"  routerLink="/login"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a>
              </li>
              <li class="nav-item mx-0 mx-lg-1" *ngIf="isLogged" (click)="onLogOut()">
                <a class="nav-link text-white py-3 px-0 px-lg-3 rounded " style="cursor: pointer;"><i class="fas fa-door-open" ></i> Cerrar Sesión</a>
              </li>
  
            </ul>
          </div>
        </div>
      </nav>