<br>
<br>
<div class="container ">
  <h4 *ngIf="isAdminEquipo">Modificaciones habilitadas hasta: {{this.fechaModificacionValida}} </h4>
    <div class="row" *ngIf="this.equipo && this.jugadores">
            <h1 class="text-center">LISTADO DE JUGADORES </h1>
            <h2 class="text-center" >{{this.equipo.nombre}} </h2>
            <h3 class="text-center">{{this.equipo.localidad}}</h3>
                    <div>
                      <button class="btn btn-secondary " routerLink="/equipos">Volver</button>
                      <button class="btn btn-success float-end" routerLink="/agregar-jugador/{{idEquipo}}" *ngIf="isAdminEquipo && fechaValida">Agregar jugador</button>
                      <h3 class="text-danger text-center" *ngIf="isAdminEquipo && !fechaValida">Ya cerraron las listas, no se permiten modificaciones</h3>
                    </div>
                    <div class="table-responsive-sm">
                      <table *ngIf="jugadores.length > 0" class="table table-light table-striped mt-3 ">
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Numero</th>
                            <th scope="col">Posicion</th>
                            <th scope="col" *ngIf="isAdminEquipo || isAdmin">Fecha de Nac.</th>
                            <th scope="col" *ngIf="isAdminEquipo || isAdmin">DNI</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let jugador of jugadores">
                            <td *ngIf="!jugador.eliminado">{{jugador.nombre}}</td>
                            <td *ngIf="!jugador.eliminado">{{jugador.apellido}}</td>
                            <td *ngIf="!jugador.eliminado">{{jugador.numero}}</td>
                            <td *ngIf="!jugador.eliminado">{{jugador.posicion}}</td>
                            <td *ngIf="(isAdminEquipo || isAdmin) && !jugador.eliminado">{{jugador.fechaNac}}</td>
                            <td *ngIf="(isAdminEquipo || isAdmin) && !jugador.eliminado">{{jugador.dni}}</td>
                            <td class="d-flex" *ngIf="isAdminEquipo  && fechaValida && !jugador.eliminado">
                            <button routerLink="/editar-jugador/{{jugador.idJugador}}/{{this.idEquipo}}"  class="btn btn-sm"><i class="far fa-edit text-primary "></i></button>
                            <button (click)="eliminarJugador(jugador.idJugador)"  class="btn btn-sm"><i  class="fas fa-trash text-danger " ></i></button>
                             </td>
                          </tr>
                        </tbody>
                      </table>
                      <h5 *ngIf="jugadores.length == 0" class="text-center mt-3">No hay jugadores en este equipo</h5>
                    </div>
                   
                </div>
            </div>

