<br>
<br>
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-5">
      <div class="card text-dark">
        <div class="card-body text-center">
          <span class="titulo">AGREGAR JUGADOR</span>
          <form class="mt-3"  [formGroup]="jugadorForm" (ngSubmit)="agregarJugador()">
            <div class="mb-3 form-floating">
                <input type="text"  formControlName="nombre"  id="nombre" class="form-control form-control-lg fs-5" placeholder="Nombre">
                <label for="nombre" class="text-sm fs-5">Nombre*</label>
                 <div class="text-danger" *ngIf="jugadorForm.get('nombre')?.hasError('required') && jugadorForm.get('nombre')?.touched">
                     <span>El nombre del jugador <strong>es obligatorio</strong></span>
                 </div>         
            </div>
            <div class="mb-3 form-floating">
                <input type="text" id="apellido" formControlName="apellido" class="form-control form-control-lg fs-5 " placeholder="Apellido">
                <label for="apellido" class="text-sm fs-5">Apellido*</label>
                <div class="text-danger" *ngIf="jugadorForm.get('apellido')?.hasError('required') && jugadorForm.get('apellido')?.touched">
                    <span>El apellido del jugador <strong>es obligatorio</strong></span>
                </div> 
            </div>
            <div class="mb-3 form-floating">
                <input type="number"  id="numero" formControlName="numero" class="form-control form-control-lg" placeholder="Numero">
                <label for="numero" class="text-sm fs-5">Numero</label>
                <div class="text-danger" *ngIf="jugadorForm.get('numero')?.hasError('required') && jugadorForm.get('numero')?.touched">
                    <span>El numero del jugador <strong>es obligatorio</strong></span>
                </div> 
            </div>
            <div class="mb-3 form-floating">
                <select type="text"  id="posicion" formControlName="posicion" class="form-control form-control-lg" placeholder="Posicion">
                  <option value="Armador">Armador</option>
                  <option value="Punta">Punta</option>
                  <option value="Opuesto">Opuesto</option>
                  <option value="Libero">Libero</option>
                  <option value="Central">Central</option>
                </select>
                <label for="posicion" class="text-sm fs-5">Posicion</label>
                <div class="text-danger" *ngIf="jugadorForm.get('posicion')?.hasError('required') && jugadorForm.get('posicion')?.touched">
                    <span>La posicion del jugador <strong>es obligatoria</strong></span>
                </div> 
            </div>
            <div class="mb-3 form-floating">
              <input type="number"  id="dni" formControlName="dni" class="form-control form-control-lg" placeholder="DNI" min="11111111" max="99999999">
              <label for="dni" class="text-sm fs-5">DNI*</label>
              <div class="text-danger" *ngIf="jugadorForm.get('dni')?.hasError('required') && jugadorForm.get('dni')?.touched">
                  <span>El dni del jugador <strong>es obligatoria</strong></span>
              </div> 
          </div>
          <div class="mb-3 form-floating">
            <input type="date"  id="fechaNac" formControlName="fecha_nac" class="form-control form-control-lg" placeholder="Fecha de nacimiento. Por ejemplo : 19/05/2000">
            <label for="fechaNac" class="text-sm fs-5">Fecha de Nacimiento*</label>
            <div class="text-danger" *ngIf="jugadorForm.get('fecha_nac')?.hasError('required') && jugadorForm.get('fecha_nac')?.touched">
                <span>La fecha de nacimiento del jugador <strong>es obligatoria</strong></span>
            </div> 
        </div>
        <span class="text-muted">Los campos con * son obligatorios </span>
            <div class="mt-3">
                <button class="btn btn-secondary btn-lg float-start" (click)="volver()">Volver</button>
                <button class="btn btn-success btn-lg float-end" [disabled]="jugadorForm.invalid" >Aceptar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
