<div class="divider-custom divider-light">
  <div class="divider-custom-line"></div>
  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
  <div class="divider-custom-line"></div>
</div>

<u><h1 > Tabla de posiciones  </h1></u>
<div class="container">
 
  <div class="row">
<div class="col">
  <table class="table  table-striped table-light caption-top ">
    <caption class=" text-white fs-4">Masculino A</caption>
      <thead>
        <tr>
          <th scope="col">Posicion</th>
          <th scope="col">Nombre</th>
          <th scope="col">Localidad</th>
          <th scope="col">Puntos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipo of equiposMasculino">
          <td>{{equiposMasculino.indexOf(equipo) + 1}}</td>
          <td>{{equipo.nombre}}</td>
          <td>{{equipo.localidad}}</td>
          <td>{{equipo.puntos}}</td>
        </tr>
      </tbody>
    </table>
</div>

<div class="col">
  <table class="table  table-striped table-light caption-top ">
    <caption class=" text-white fs-4">Masculino B</caption>
      <thead>
        <tr>
          <th scope="col">Posicion</th>
          <th scope="col">Nombre</th>
          <th scope="col">Localidad</th>
          <th scope="col">Puntos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipo of equiposMasculino">
          <td>{{equiposMasculino.indexOf(equipo) + 1}}</td>
          <td>{{equipo.nombre}}</td>
          <td>{{equipo.localidad}}</td>
          <td>{{equipo.puntos}}</td>
        </tr>
      </tbody>
    </table>
</div>
  </div>

</div>

<div class="container">
  <div class="row">
<div class="col">
  <table class="table  table-striped table-light caption-top ">
    <caption class="text-white fs-4">Femenino A</caption>
      <thead>
        <tr>
          <th scope="col">Posicion</th>
          <th scope="col">Nombre</th>
          <th scope="col">Localidad</th>
          <th scope="col">Puntos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipo of equiposFemenino">
          <td>{{equiposFemenino.indexOf(equipo) + 1}}</td>
          <td>{{equipo.nombre}}</td>
          <td>{{equipo.localidad}}</td>
          <td>{{equipo.puntos}}</td>
        </tr>
      </tbody>
    </table>
</div>

<div class="col">
  <table class="table  table-striped table-light caption-top ">
    <caption class="text-white fs-4">Femenino B</caption>
      <thead>
        <tr>
          <th scope="col">Posicion</th>
          <th scope="col">Nombre</th>
          <th scope="col">Localidad</th>
          <th scope="col">Puntos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipo of equiposFemenino">
          <td>{{equiposFemenino.indexOf(equipo) + 1}}</td>
          <td>{{equipo.nombre}}</td>
          <td>{{equipo.localidad}}</td>
          <td>{{equipo.puntos}}</td>
        </tr>
      </tbody>
    </table>
</div>
  </div>

</div>

  
